# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDE files
.idea/
.vscode/

# Dependency directories
env/
lib/
include/
bin/

# Compiled files
*.pyc
*.class
*.pyd
*.o
*.so

# Log files
*.log

# Ignore any files generated during testing
/coverage
/nose2-results

# Ignore cache and temporary files
*.cache/
*.swp
*~
.DS_Store

# PySpark-related files and directories
*.log
*.backup
metastore_db/
derby.log
.avs/
.zeppelin/
.tmp/